[defaults]
inventory      = ./inventories/hosts.yml
playbook_dir   = ./playbooks
host_key_checking = false
[connection]
pipelining = False
[privilege_escalation]
become = False
become_ask_pass = False

